<%- include('header-home') %>
    <div class="container mt-5" style="border: 0px">
        <h1>Academics</h1>
        <h1 class="mt-3">FSC Part I (Pre-Medical)</h1>
        <div class="mt-3">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque saepe
                quas dolor nihil explicabo temporibus in neque ex officia vero
                perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                quas dolor nihil explicabo temporibus in neque ex officia vero
                perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                quas dolor nihil explicabo temporibus in neque ex officia vero
                perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                quas dolor nihil explicabo temporibus in neque ex officia vero
                perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
            </p>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Serial</th>
                        <th scope="col">Subjects</th>
                        <th scope="col">Timing</th>
                        <th scope="col">weightage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
            <h1 class="mt-3">FSC Part II (Pre-Medical)</h1>
            <div class="mt-3">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque saepe
                    quas dolor nihil explicabo temporibus in neque ex officia vero
                    perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                    quas dolor nihil explicabo temporibus in neque ex officia vero
                    perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                    quas dolor nihil explicabo temporibus in neque ex officia vero
                    perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                    quas dolor nihil explicabo temporibus in neque ex officia vero
                    perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                </p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Serial</th>
                            <th scope="col">Subjects</th>
                            <th scope="col">Timing</th>
                            <th scope="col">weightage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                <h2 class="mt-5">Eligiblity Criteria</h2>
                <p class="mt-4 mb-5">
                <ul>
                    <li>
                        <p>
                            Applicant must have a matric SSC or equivalent Degree.
                        </p>
                    </li>
                    <li>
                        <p>
                            Applicant must have a at least 60% in their previous exam.
                        </p>
                    </li>
                    <li>
                        <p>
                            Applicant are required to have a good character certificate.
                        </p>
                    </li>
                    <li>
                        <p>
                            Applicant must must take the oath under the director directions for the benifence of the
                            student and the Institution as well.
                        </p>
                    </li>
                </ul>
                </p>
                <hr class="mt-5 mb-5" style="border: 01rem dotted grey;border-bottom: 0px;border-right:0px;border-left: 0px;margin-top:3rem;margin-bottom:3rem;max-width: 10rem;margin: auto;">
            </div>
            <h1 class="mt-3">FSC Part I (Pre-Engineering)</h1>
            <div class="mt-3">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque saepe
                    quas dolor nihil explicabo temporibus in neque ex officia vero
                    perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                    quas dolor nihil explicabo temporibus in neque ex officia vero
                    perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                    quas dolor nihil explicabo temporibus in neque ex officia vero
                    perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                    quas dolor nihil explicabo temporibus in neque ex officia vero
                    perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                </p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Serial</th>
                            <th scope="col">Subjects</th>
                            <th scope="col">Timing</th>
                            <th scope="col">weightage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                <h1 class="mt-3">FSC Part II (Pre-Engineering)</h1>
                <div class="mt-3">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque saepe
                        quas dolor nihil explicabo temporibus in neque ex officia vero
                        perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                        quas dolor nihil explicabo temporibus in neque ex officia vero
                        perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                        quas dolor nihil explicabo temporibus in neque ex officia vero
                        perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                        quas dolor nihil explicabo temporibus in neque ex officia vero
                        perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                    </p>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Serial</th>
                                <th scope="col">Subjects</th>
                                <th scope="col">Timing</th>
                                <th scope="col">weightage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                    <h2 class="mt-5">Eligiblity Criteria</h2>
                    <p class="mt-4 mb-5">
                    <ul>
                        <li>
                            <p>
                                Applicant must have a matric SSC or equivalent Degree.
                            </p>
                        </li>
                        <li>
                            <p>
                                Applicant must have a at least 60% in their previous exam.
                            </p>
                        </li>
                        <li>
                            <p>
                                Applicant are required to have a good character certificate.
                            </p>
                        </li>
                        <li>
                            <p>
                                Applicant must must take the oath under the director directions for the benifence of the
                                student and the Institution as well.
                            </p>
                        </li>
                    </ul>
                    </p>
                    <hr class="mt-5 mb-5" style="border: 01rem dotted grey;border-bottom: 0px;border-right:0px;border-left: 0px;margin-top:3rem;margin-bottom:3rem;max-width: 10rem;margin: auto;">
                </div>
                <h1 class="mt-3">FSC Part I (Computer Science)</h1>
                <div class="mt-3">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque saepe
                        quas dolor nihil explicabo temporibus in neque ex officia vero
                        perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                        quas dolor nihil explicabo temporibus in neque ex officia vero
                        perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                        quas dolor nihil explicabo temporibus in neque ex officia vero
                        perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                        quas dolor nihil explicabo temporibus in neque ex officia vero
                        perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                    </p>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Serial</th>
                                <th scope="col">Subjects</th>
                                <th scope="col">Timing</th>
                                <th scope="col">weightage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                    <h1 class="mt-3">FSC Part II (Computer Science)</h1>
                    <div class="mt-3">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque saepe
                            quas dolor nihil explicabo temporibus in neque ex officia vero
                            perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                            quas dolor nihil explicabo temporibus in neque ex officia vero
                            perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                            quas dolor nihil explicabo temporibus in neque ex officia vero
                            perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                            quas dolor nihil explicabo temporibus in neque ex officia vero
                            perspiciatis sint quisquam quia, voluptate rem alias, eos vitae fuga.
                        </p>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Serial</th>
                                    <th scope="col">Subjects</th>
                                    <th scope="col">Timing</th>
                                    <th scope="col">weightage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                        <h2 class="mt-5">Eligiblity Criteria</h2>
                        <p class="mt-4 mb-5">
                        <ul>
                            <li>
                                <p>
                                    Applicant must have a matric SSC or equivalent Degree.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Applicant must have a at least 60% in their previous exam.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Applicant are required to have a good character certificate.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Applicant must must take the oath under the director directions for the benifence of
                                    the student and the Institution as well.
                                </p>
                            </li>
                        </ul>
                        </p>
                <hr class="mt-5 mb-5" style="border: 01rem dotted grey;border-bottom: 0px;border-right:0px;border-left: 0px;margin-top:3rem;margin-bottom:3rem;max-width: 10rem;margin: auto;">
            </div>
                </div>
                </div>
        </div>
        </div>
        
                <%-include("footer-home")%>