<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Inconsolata:wght@500&family=Montserrat:wght@200&family=Pathway+Extreme:wght@200&family=Rubik&family=Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>BRAND</title>
    <style>
      
    </style>
  </head>

<body style="zoom:75%">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid row">
                <div class="col col-sm-5 mr-5 pr-5">
              <a class="navbar-brand" href="#">Hello Finance Admin,</a>
            </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Pending Applications</a>
                  </li>
                  <li class="nav-item">
    
                    <div class="dropdown">
                      <button
                      style="color: aliceblue;"
                        class="btn btn-outline-white dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Database
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Admins Database</a>
                        <a class="dropdown-item" href="#">Teachers Database</a>
                        <a class="dropdown-item" href="#">Students Database</a>
                        <a class="dropdown-item" href="#">Ex Database</a>
                      </div>
                    </div></li>
                  <li class="nav-item">
    
                    <div class="dropdown">
                      <button
                      style="color: aliceblue;"
                        class="btn btn-outline-white dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Transactions
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Pending Approvals</a>
                        <a class="dropdown-item" href="#">Confirmed Transactions</a>
                        <a class="dropdown-item" href="#">Declined Transactions</a>
                        <a class="dropdown-item" href="#">Revised Transactions</a>
                      </div>
                    </div>
                    </li>
                  <li class="nav-item">
    
                    <div class="dropdown">
                      <button
                      style="color: aliceblue;"
                        class="btn btn-outline-white dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Announcements
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Send Notifications To Classes</a>
                        <a class="dropdown-item" href="#">Send Notifications To All</a>
                        <a class="dropdown-item" href="#">Add a public Announcement on Index</a>
                      </div>
                    </div>
                    </li>
                  <li class="nav-item">
    
                    <div class="dropdown">
                      <button
                      style="color: aliceblue;"
                        class="btn btn-outline-white dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Finance
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Send Reminders to class</a>
                        <a class="dropdown-item" href="#">Send Reminder to a student</a>
                      </div>
                    </div>
                    </li>
                  <li class="nav-item">
    
                  <div class="dropdown">
                    <button
                    style="color: aliceblue;"
                      class="btn btn-outline-white dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Access
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Add an admin</a>
                      <a class="dropdown-item" href="#">Add a student</a>
                    </div>
                  </div>
                  </li>
                  <li class="nav-item">
    
                  <div class="dropdown col pr-1">
                    <button
                    style="color: aliceblue;"
                      class="btn btn-outline-white dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fa-regular fa-circle-user"></i> Admin's Name
                    </button>
                    <div class="dropdown-menu" style="position: absolute;margin-left: -.5rem; padding: -2rem;" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#"><i class="fa-regular fa-user"></i> &nbsp;&nbsp;&nbsp;Profile</a>
                      <a class="dropdown-item" href="#"><i class="fa-solid fa-lock"></i>&nbsp;&nbsp;&nbsp;Change Password</a>
                      <a class="dropdown-item" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;&nbsp;Logout</a>
                    </div>
                  </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    
        