<!-- Carousel wrapper -->

<div id="carouselExampleSlidesOnly" class="carousel slide mb-2" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://cdn.pixabay.com/photo/2016/01/19/01/42/library-1147815_1280.jpg"
                style="max-height: 121vh;max-height: 121vh;;object-fit: cover;" class="d-block w-100"
                alt="Wild Landscape" />

        </div>
        <div class="carousel-item">
            <img src="https://cdn.pixabay.com/photo/2019/03/12/12/47/people-4050698_1280.jpg"
                style="max-height: 121vh;max-height: 121vh;;object-fit: cover;" class="d-block w-100"
                alt="Wild Landscape" />

        </div>
        <div class="carousel-item">
            <img src="https://cdn.pixabay.com/photo/2020/01/09/03/43/mansion-4751778_1280.jpg"
                style="max-height: 121vh;max-height: 121vh;;object-fit: cover;" class="d-block w-100"
                alt="Wild Landscape" />

        </div>
    </div>
</div>