<footer id="" class="footer-1">
    <div class="footer p-5 bg-light">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div>
                        <h5 class="widget-title" style="border-bottom: 0.1rem solid white;width: 40%;">
                            BRAND<span></span>
                        </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fuga atque labore eos
                            reprehenderit.
                            Incidunt beatae omnis totam molestias nostrum voluptates voluptatibus aut laborum, enim
                            harum laboriosam
                            neque ipsum illo. </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="row">
                        <div class="col">
                            <div class="widget no-box">
                                <h5 class="widget-title">Quick Links<span></span></h5>
                                <ul class="navbar-nav">
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="widget no-box">
                                <h5 class="widget-title">Quick Links<span></span></h5>
                                <ul class="navbar-nav">
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>
                                    <li class="nav-link">
                                        <div class="thumb-content">`
                                            <a style="text-decoration: none;color: black;" href="#.">Get Started</a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Follow up<span></span></h5>
                        <a class="btn btn-outline-dark" href=""><i class="fab fa-facebook"></i></a>
                        <a class="btn btn-outline-dark" href=""><i class="fab fa-twitter"></i>
                        </a> <a class="btn btn-outline-dark" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-dark" href=""><i class="fab fa-youtube"></i>
                        </a> <a class="btn btn-outline-dark" href=""><i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
                <br>
                <br>


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span></h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <div class="emailfield">
                            <input class="form-control" type="text" name="email" value="Email"><br>
                            <input class="btn btn-outline-primary" type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright Design Sherif Hamdy © 2019. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
</footer>
</div>
<script src="js/navbar.js"></script>
<script src="js/min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    // Check if the user agent string contains "Mobile" or "Android" to detect mobile devices
if (/Mobile|Android/i.test(navigator.userAgent)) {
    document.getElementById("e4").classList.add("rightToLeft")
      document.getElementById("e3").classList.add("leftToRight")
    document.getElementById("e5").classList.add("bottomToTop")
    document.getElementById("e6").classList.add("topToBottom")
    document.getElementById("e7").classList.add("bottomToTop")
    document.getElementById("e8").classList.add("rightToLeft")
    document.getElementById("e13").classList.add("topToBottom")
    document.getElementById("e11").classList.add("leftToRight")
    document.getElementById("e14").classList.add("bottomToTop")

} else {

    document.getElementById("e1").classList.add("topToBottom")
document.addEventListener('scroll', function () {
  console.log(window.scrollY)
  if (window.scrollY >= 0) {

    document.getElementById("navbarPrimary").classList.add("bg-red")
   document.getElementById("navbarPrimary").style.backgroundColor = "red"
      document.getElementById("academicsMain").style.backgroundColor = "red"
      document.getElementById("studentsCornerMain").style.backgroundColor = "red"
      document.getElementById("facilitiesMain").style.backgroundColor = "red"
      document.getElementById("sideNav").style.backgroundColor = "red"

      
  }
  if (window.scrollY >= 350) {
    document.getElementById("e2").classList.add("bottomToTop")

    document.getElementById("navbarPrimary").classList.remove("bg-red")
    document.getElementById("navbarPrimary").style.backgroundColor = "black"
    document.getElementById("academicsMain").style.backgroundColor="black"
      document.getElementById("studentsCornerMain").style.backgroundColor = "black"
      document.getElementById("facilitiesMain").style.backgroundColor = "black"
    document.getElementById("e4").classList.add("rightToLeft")
    document.getElementById("e3").classList.add("leftToRight")
  }
  if (window.scrollY >= 670) {
    document.getElementById("e5").classList.add("bottomToTop")
    document.getElementById("e6").classList.add("topToBottom")
  }
  if (window.scrollY >= 800) {
    document.getElementById("e7").classList.add("bottomToTop")
    document.getElementById("e8").classList.add("rightToLeft")
  }
  if (window.scrollY >= 1500) {
    document.getElementById("e11").classList.add("leftToRight")
  }
  if (window.scrollY >= 1800) {
    document.getElementById("e13").classList.add("topToBottom")
  }
  if (window.scrollY >= 2000) {
    document.getElementById("e14").classList.add("bottomToTop")
  }
})
}
    function showAcademics(){
    document.getElementById("academics").classList.toggle("activeDropDown")
    }

    function showStudentsCorner() {
            document.getElementById("studentsCorner").classList.toggle("activeDropDown")
        }
    function showSidebar(){
        scrollToTop()
            document.getElementById("mySidebar").classList.toggle("slideMeLeft")
            var shadow=document.getElementById('shadow')
            if(shadow.style.display=="block"){
                shadow.style.display="none"
            }else{
                shadow.style.display="block"
            }

    }
    function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // You can also use 'auto' for instant scrolling
            });
        }
</script>

<script>
    if (window.innerWidth < 1193) {
            document.getElementById("navbarPrimary").style.display = "none";
            document.getElementById("sidebarButton").style.display="block"
        document.getElementById("mySidebarNav").style.display = "block"
            
            console.log(window.innerWidth)
        }

 

</script>
<script>
     const loader = document.getElementById('loader')
        const content = document.getElementById('content')

        setTimeout(() => {
            loader.style.display = "none",
                content.style.display = "block"
        },
            5000)
        const loadera = document.getElementById('loader');
        loadera.style.position = 'fixed';
        loadera.style.top = '50%';
        loadera.style.left = '50%';
        loadera.style.transform = 'translate(-50%, -50%)';

</script>

</body>


</html>