<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Tangerine" />
    <link rel="stylesheet" href="css/result.css">
    <link rel="stylesheet" href="css/news.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/public/css/application.css">
    <style>
      .container {
        border: 0.1rem solid rgb(223, 214, 214);
      }
    </style>

    <title>Brand</title>
  </head>
  <body style="zoom:75%">
   <div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <a href="/" class="navbar-brand" style="font-family: Montserrat;"><div class="text-dark" style="font-family: Montserrat;"><img width="60px"  height="60px" class="rounded-circle bg-dark" src="img/logohouse-removebg-preview.png" alt="">LSSC</div>   </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="topnav" style="padding: 0.5rem;" >
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item dropdown" style="padding: 0.5rem;">
              <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown">
                <i class="fa-solid fa-chalkboard-user"></i>&nbsp; Academics
              </a>
              <ul class="dropdown-menu" style="width: 15rem;padding-left: 0.5rem;">
                <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="academics">Programs we offer</a></li>
                <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="academics">Eligibility Criteria</a></li>
                <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="/students/reviews">Students comments</a></li>
              </ul>
            </li>
           <li class="nav-item dropdown" style="padding: 0.5rem;">
            <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown">
              <i class="fa-solid fa-graduation-cap"></i>&nbsp; Facilities to avail
            </a>
            <ul class="dropdown-menu" style="width: 15rem;padding-left: 0.5rem;" class="bg-light">
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="#">Transport Services</a></li>
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="#">Hostel</a></li>
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="#">Library Services</a></li>
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="#">Gym</a></li>
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="/target">Online academy</a></li>
            </ul>
          </li>
         
          <li class="nav-item dropdown" style="padding: 0.5rem;">
            <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown">
              <i class="fa-solid fa-graduation-cap"></i>&nbsp; Students Corner
            </a>
            <ul class="dropdown-menu"style="width: 15rem;padding-left: 0.5rem;">
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="/target/onlineClasses">Online Classes</a></li>
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="/target/consult/teacher">Teacher's Consultation</a></li>
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="/search/result">Results</a></li>
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="#">Toppers</a></li>
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="/scholorships">Scholarship</a></li>
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="/complaint/direct">File a complaint</a></li>
              <li><a class="dropdown-item" style="padding-bottom: 0.4rem;" href="/applyOnline">File an application</a></li>
            </ul>
          </li>
          <li class="topnav" style="padding: 0.5rem;">
            <a class="nav-link active" href="/faculty">
              <i class="fa-solid fa-align-left"></i>&nbsp; Faculty
            </a>
          </li>
          <li class="topnav"style="padding: 0.5rem;">
            <a class="nav-link active" href="/applyOnline">
              <i class="fa-solid fa-align-left"></i>&nbsp; Application form
            </a>
          </li>
          <li class="topnav" style="padding: 0.5rem;">
            <a class="nav-link active" href="/search/result">
              <i class="fa-solid fa-align-left"></i>&nbsp; Results
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="topnav">
            <a class="nav-link" href="">
              <a href="/applyOnline" class="btn btn-outline-dark">
                <i class="fa-solid fa-blender-phone"></i>&nbsp; Apply Online
              </a>
            </a>
          </li>
          <li class="topnav">
            <a class="nav-link" href="">
              <a href="/login" class="btn btn-dark ml-3">
                <i class="fa-solid fa-right-to-bracket"></i>&nbsp; Login
              </a>
            </a>
          </li>
        </ul>
        </div>
    </nav>
</div>