
<%-include('login-header')%>

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4 rounded-circle display-1" src="img/logo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please enter the required credintails to get going</h1>
      
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <br>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <input type="password" id="inputPassword" class="form-control" placeholder="Confirm assword" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button style="width:100%" class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>


  </body>
</html>
