

.card {
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.allergy {
    position: relative;
    bottom: 8px;
    color: grey
}

.head {
    color: #97989a;
    font-size: 12px
}

.bottom {
    color: grey;
    font-size: 14px
}