<footer style="margin: -16px;" class="alert alert-secondary background-radial-gradient mb-0 mt-5 p-5">
    <h6 style="text-align:center">© Copyright Decent Desigining</h6>
</footer>
</div>
        
<script>
        // Loader
            const loader = document.getElementById('loader');
            const loadera = document.getElementById('loader');
            const content = document.getElementById('content');
            const content2 = document.getElementById('content2');

            setTimeout(() => {
                loader.style.display = "none";
                content.style.display = "block";
                content2.style.display = "block"
                loadera.style.position = 'fixed';
                loadera.style.top = '50%';
                loadera.style.left = '50%';
                loadera.style.transform = 'translate(-50%, -50%)';
            }, 5000);
            
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>